body {
  padding-bottom: 20px;
  color: #212121;
}
h1, h2 {
  color: #444444;
}
h3, h4 {
  color: #212121;
}

#title {
  float: none;
  height: 100px;
  font-size: 60px;
  padding: 15px 0 0 50px;;
}

a {
  color: #3F51B5; /* primary: indigo 500 */
}
a:hover {
  color: #FF5722; /* accent */
  text-decoration: none;
}
/* Navbar color */
.navbar-inverse {
  background-color: #303F9F; /* primary dark: indigo 700 */
  border: 0;
}
#header.navbar-inverse,
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #C5CAE9; /* primary light: indigo 100 */
}
button.navbar-toggle {
  border: 0;
}
.navbar-inverse button.navbar-toggle:hover {
  background-color: #FF5722; /* accent color: orange 500 */;
}

/* Navbar sticky effect. */
#header.material-header-collapsed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(0,0,0,5) 0px 2px 6px 0px;
}
#header.material-header-collapsed > #title {
  display: none;
}
#content.material-header-collapsed {
  /* margin is #title height + #navbar height */
  margin-top: 160px;
}
#header .navbar-brand {
  opacity: 0;
  transition: width,opacity 0.7s ease;
}
#header.material-header-collapsed .navbar-brand {
  opacity: 1;
}

.navbar-toggle {
  float: left;
}

.front {
  margin-top: 3em;  
}

.front img {
  width: 221;
  height: 180;
}

.mailitems ul {
  margin-top: 1.5em;
}

.mailitems ul {
  padding: 0;
  list-style-type: none;
}

.mailitems li {  
  display: inline;
  text-align: center;  
}

.mailitems .name {
  margin: 0 1px 1.5em 0px;
  padding: 1ex 2em 1ex 2em;
  background-color: #E0E0E0;
  width: 12em;
  display: block;
  float: left;
}

.mailitems a {
  margin: 0 1px 1.5em 1px;
  padding: 1ex 2em 1ex 2em;
  background-color: #E0E0E0;
  width: 12em;
  display: block;
  float: left;
}

.download {
  margin: 2em 0 2em 0;
}

.download .xitem {
  padding: 1ex 3ex 1ex 3ex;
  margin: 2px 5px 2px 5px;
  background-color: #F0F0F0;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

code, pre {
  word-break: normal;
  word-wrap: normal;	
  overflow: auto;
}

code {
  color: #4a4a4a;
  background-color: #f5f5f5;	
}

hr {
  margin: 50px 0;
}

.divider {
  margin: 80px 0 20px 0;
}

#license {
  font-size: smaller;
}

