body {
  padding-bottom: 20px;
  color: #202020;  
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;  
}

.front {
  margin-top: 3em;  
}

.front img {
  width: 221;
  height: 180;
}

.mailitems ul {
  margin-top: 1.5em;
}

.mailitems ul {
  padding: 0;
  list-style-type: none;
}

.mailitems li {  
  display: inline;
  text-align: center;  
}

.mailitems .name {
  margin: 0 1px 1.5em 0px;
  padding: 1ex 2em 1ex 2em;
  background-color: #E0E0E0;
  width: 12em;
  display: block;
  float: left;
}

.mailitems a {
  margin: 0 1px 1.5em 1px;
  padding: 1ex 2em 1ex 2em;
  background-color: #E0E0E0;
  width: 12em;
  display: block;
  float: left;
}

.download {
  margin: 2em 0 2em 0;
}

.download .xitem {
  padding: 1ex 3ex 1ex 3ex;
  margin: 2px 5px 2px 5px;
  background-color: #F0F0F0;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

code, pre {
  word-break: normal;
  word-wrap: normal;	
  overflow: auto;
}

code {
	color: #4a4a4a;
  background-color: #f5f5f5;	
}

hr {
  margin: 50px 0;
}

.divider {
  margin: 80px 0 20px 0;
}

#license {
  font-size: smaller;
}

