    <nav class="navbar navbar-inverse " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://jflex.de">jflex.de</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.html#">Home</a></li>
            <li><a href="/features.html">Features</a></li>
            <li><a href="/download.html">Download</a></li>
            <li><a href="/docu.html">Docs</a></li>
            <li><a href="https://github.com/jflex-de/jflex">Source code</a></li>
            <li><a href="https://github.com/jflex-de/jflex/issues">Bugs</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/jflex-de/">
                <img src="GitHub-Mark-Light-64px.png" alt="JFlex on github" width=32 height=32/>
            </a></li>
          </ul>
        </div>
      </div>
    </nav>
